services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: fa_user
      POSTGRES_PASSWORD: fa_pass
      POSTGRES_DB: fa_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
